# Práctica Calificada 3

## Lectura de datos

### Task 1

In [1]:
educationExpenditureLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Education%20expenditures.csv"
electricityLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Electricity%20-%20installed%20generating%20capacity.csv"
energyConsumptionLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Energy%20consumption%20per%20capita.csv"
reservesForeignExchangeLink="https://github.com/CRVCh-16/PC3/raw/refs/heads/main/Reserves%20of%20foreign%20exchange%20and%20gold.csv"


import pandas as pd

education=pd.read_csv(educationExpenditureLink)
electricity=pd.read_csv(electricityLink)
energyConsumption=pd.read_csv(energyConsumptionLink)
reservesForeignExchange=pd.read_csv(reservesForeignExchangeLink)

## Limpieza y formateo

### Task 2

In [2]:
# se eliminan las columnas innecesarias:
electricity=electricity.drop(columns=["slug","ranking"])
education=education.drop(columns=["slug","ranking"])
energyConsumption=energyConsumption.drop(columns=["slug","ranking"])
reservesForeignExchange=reservesForeignExchange.drop(columns=["slug","ranking"])

In [3]:
# se cambian los nombres de las columnas
newNamesElectricity=["Country","Electricity_generated_kW","Year_electricity","Region"]
newNamesEducation=["Country","Education_expenditure_percent_GDP","Year_education","Region"]
newNamesEnergyConsumption=["Country","Energy_consumption_per_capita_BtuPerPerson","Year_energy","Region"]
newNamesReservesForeignExchange=["Country","Reserves_of_foreign_exchange_dollars","Year_reserves","Region"]

electricity.columns=newNamesElectricity
education.columns=newNamesEducation
energyConsumption.columns=newNamesEnergyConsumption
reservesForeignExchange.columns=newNamesReservesForeignExchange

In [4]:
# se elimina cualquier leading o trailing space si lo hay en los nombres de los paises
electricity.iloc[:,0]=electricity["Country"].str.strip().to_list()
education.iloc[:,0]=education["Country"].str.strip().to_list()
energyConsumption.iloc[:,0]=energyConsumption["Country"].str.strip().to_list()
reservesForeignExchange.iloc[:,0]=reservesForeignExchange["Country"].str.strip().to_list()

In [5]:
# hay simbolos raros?
electricity[electricity.Country.str.contains(r'[^\w\s]')]
#No son simbolos raros, por lo que se puede dejar como tal

,Country,Electricity_generated_kW,Year_electricity,Region
9,"Korea, South","151,139,000",2023,East and Southeast Asia
15,Turkey (Turkiye),"106,281,000",2023,Middle East
70,"Korea, North","8,357,000",2023,East and Southeast Asia
106,"Congo, Democratic Republic of the","3,229,000",2023,Africa
116,Cote d'Ivoire,"2,315,000",2023,Africa
136,"Congo, Republic of the","842,000",2023,Africa
147,"Bahamas, The","608,000",2023,Central America and the Caribbean
166,Timor-Leste,"277,000",2023,East and Southeast Asia
178,"Gambia, The","162,000",2023,Africa
202,Guinea-Bissau,"29,000",2023,Africa
207,Falkland Islands (Islas Malvinas),"10,000",2023,South America
209,"Saint Helena, Ascension, and Tristan da Cunha","5,000",2023,Africa

In [6]:
#guardaremos solo los simbolos ASCII
!pip install unidecode

Requirement already satisfied: unidecode in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (1.4.0)

In [7]:
from unidecode import unidecode
electricity['Country']=electricity.Country.apply(unidecode)
education['Country']=education.Country.apply(unidecode)
energyConsumption['Country']=energyConsumption.Country.apply(unidecode)
reservesForeignExchange['Country']=reservesForeignExchange.Country.apply(unidecode)

In [8]:
# convertiremos los nombres de paises en mayusculas para mejor entendimiento
electricity['Country']=electricity.Country.str.upper()
education['Country']=education.Country.str.upper()
energyConsumption['Country']=energyConsumption.Country.str.upper()
reservesForeignExchange['Country']=reservesForeignExchange.Country.str.upper()

#Con esto, ya se tiene limpieado y formateado los nombres de los países

In [9]:
# se crea funcion para eliminar cualquier valor diferente a numero o un punto en un string
import re
charToNum=lambda xString:re.sub("[^0-9.]","",xString)

In [10]:
# se procede con la limpieza y formateo de los valores numéricos
#para electricity
electricity.iloc[:,1]=electricity.iloc[:,1].map(charToNum)
electricity['Electricity_generated_kW']=pd.to_numeric(electricity.Electricity_generated_kW)

In [11]:
electricity.info()      # todo bien para electricity

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   211 non-null    object
 1   Electricity_generated_kW  211 non-null    int64
 2   Year_electricity          211 non-null    int64
 3   Region                    211 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.7+ KB

In [12]:
education.info()            # todo bien para education

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            197 non-null    object
 1   Education_expenditure_percent_GDP  197 non-null    float64
 2   Year_education                     197 non-null    int64
 3   Region                             197 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.3+ KB

In [13]:
#para energyConsumption
energyConsumption.iloc[:,1]=energyConsumption.iloc[:,1].map(charToNum)
energyConsumption['Energy_consumption_per_capita_BtuPerPerson']=pd.to_numeric(energyConsumption.Energy_consumption_per_capita_BtuPerPerson)

In [14]:
energyConsumption.info()              # todo bien para energy consumption

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     195 non-null    object
 1   Energy_consumption_per_capita_BtuPerPerson  195 non-null    int64
 2   Year_energy                                 195 non-null    int64
 3   Region                                      195 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.2+ KB

In [15]:
#para reservesForeignExchange
reservesForeignExchange.iloc[:,1]=reservesForeignExchange.iloc[:,1].map(charToNum)
reservesForeignExchange['Reserves_of_foreign_exchange_dollars']=pd.to_numeric(reservesForeignExchange.Reserves_of_foreign_exchange_dollars)

In [16]:
reservesForeignExchange.info()        # todo bien para reservesForeignExchange

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Country                               195 non-null    object
 1   Reserves_of_foreign_exchange_dollars  195 non-null    int64
 2   Year_reserves                         195 non-null    int64
 3   Region                                195 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.2+ KB

In [17]:
# Finalmente, se debe convertir la columna Region en categorical
electricity['Region'] = pd.Categorical(electricity.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])
education['Region'] = pd.Categorical(education.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])
energyConsumption['Region'] = pd.Categorical(energyConsumption.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])
reservesForeignExchange['Region'] = pd.Categorical(reservesForeignExchange.Region, ordered=False, categories=['East and Southeast Asia', 'North America', 'South Asia',
                                                                                      'Central Asia', 'Europe', 'South America', 'Middle East',
                                                                                      'Australia and Oceania', 'Africa','Central America and the Caribbean'])

In [18]:
#Se verifica el cambio en un DF
electricity.info()        #todo correcto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   211 non-null    object
 1   Electricity_generated_kW  211 non-null    int64
 2   Year_electricity          211 non-null    int64
 3   Region                    211 non-null    category
dtypes: category(1), int64(2), object(1)
memory usage: 5.7+ KB

## Integración: concatenar y merge

Combine those dataframes into one. Decision: what to do to keep as many cases as possible.

### Task 3

**FUZZY MERGE**

In [19]:
!pip install thefuzz

Collecting thefuzz
  Downloading thefuzz-0.22.1-py3-none-any.whl.metadata (3.9 kB)
Collecting rapidfuzz<4.0.0,>=3.0.0 (from thefuzz)
  Downloading rapidfuzz-3.13.0-cp311-cp311-win_amd64.whl.metadata (12 kB)
Downloading thefuzz-0.22.1-py3-none-any.whl (8.2 kB)
Downloading rapidfuzz-3.13.0-cp311-cp311-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------- 1.6/1.6 MB 10.9 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, thefuzz
Successfully installed rapidfuzz-3.13.0 thefuzz-0.22.1

In [20]:
from thefuzz import process as fz

Se buscan los países que se parecen en un y en el otro

In [21]:
#MERGE ELECTRICITY EDUCATION VIA FUZZY MERGE
onlyElectricity=set(electricity.Country)-set(education.Country)-set(energyConsumption.Country)-set(reservesForeignExchange.Country)
onlyEducation=set(education.Country)-set(electricity.Country)-set(energyConsumption.Country)-set(reservesForeignExchange.Country)
onlyEnergy=set(energyConsumption.Country)-set(electricity.Country)-set(education.Country)-set(reservesForeignExchange.Country)
onlyReserves=set(reservesForeignExchange.Country)-set(electricity.Country)-set(education.Country)-set(energyConsumption.Country)

In [22]:
[(c,fz.extract(c,onlyEducation, limit=1)) for c in sorted(onlyElectricity)]

[('FALKLAND ISLANDS (ISLAS MALVINAS)', [('MARSHALL ISLANDS', 86)]),
 ('FRENCH POLYNESIA', [('MONACO', 45)]),
 ('GIBRALTAR', [('MARSHALL ISLANDS', 39)]),
 ('NEW CALEDONIA', [('MONACO', 54)]),
 ('NIUE', [('LIECHTENSTEIN', 51)]),
 ('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA', [('ANDORRA', 57)]),
 ('SAINT PIERRE AND MIQUELON', [('ANDORRA', 51)]),
 ('VIRGIN ISLANDS', [('MARSHALL ISLANDS', 63)])]

In [23]:
[(c,fz.extract(c,onlyEnergy, limit=1)) for c in sorted(onlyElectricity)]

[('FALKLAND ISLANDS (ISLAS MALVINAS)', []),
 ('FRENCH POLYNESIA', []),
 ('GIBRALTAR', []),
 ('NEW CALEDONIA', []),
 ('NIUE', []),
 ('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA', []),
 ('SAINT PIERRE AND MIQUELON', []),
 ('VIRGIN ISLANDS', [])]

In [24]:
[(c,fz.extract(c,onlyReserves, limit=1)) for c in sorted(onlyElectricity)]

[('FALKLAND ISLANDS (ISLAS MALVINAS)', []),
 ('FRENCH POLYNESIA', []),
 ('GIBRALTAR', []),
 ('NEW CALEDONIA', []),
 ('NIUE', []),
 ('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA', []),
 ('SAINT PIERRE AND MIQUELON', []),
 ('VIRGIN ISLANDS', [])]

In [25]:
[(c,fz.extract(c,onlyEnergy, limit=1)) for c in sorted(onlyEducation)]

[('ANDORRA', []),
 ('CURACAO', []),
 ('LIECHTENSTEIN', []),
 ('MARSHALL ISLANDS', []),
 ('MONACO', [])]

In [26]:
[(c,fz.extract(c,onlyReserves, limit=1)) for c in sorted(onlyEducation)]

[('ANDORRA', []),
 ('CURACAO', []),
 ('LIECHTENSTEIN', []),
 ('MARSHALL ISLANDS', []),
 ('MONACO', [])]

In [27]:
[(c,fz.extract(c,onlyReserves, limit=1)) for c in sorted(onlyEnergy)]

[]

In [28]:
[(c,fz.extract(c,onlyElectricity, limit=1)) for c in sorted(onlyEducation)]

[('ANDORRA', [('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA', 57)]),
 ('CURACAO', [('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA', 45)]),
 ('LIECHTENSTEIN', [('NIUE', 51)]),
 ('MARSHALL ISLANDS', [('FALKLAND ISLANDS (ISLAS MALVINAS)', 86)]),
 ('MONACO', [('NEW CALEDONIA', 54)])]

In [29]:
[(c,fz.extract(c,onlyElectricity, limit=1)) for c in sorted(onlyEnergy)]

[]

In [30]:
[(c,fz.extract(c,onlyElectricity, limit=1)) for c in sorted(onlyReserves)]

[]

In [31]:
[(c,fz.extract(c,onlyEducation, limit=1)) for c in sorted(onlyEnergy)]

[]

In [32]:
[(c,fz.extract(c,onlyEducation, limit=1)) for c in sorted(onlyReserves)]

[]

In [33]:
[(c,fz.extract(c,onlyEnergy, limit=1)) for c in sorted(onlyReserves)]

[]

Ahora se buscan los países parecidos considerando todos los países parecidos de un dataframe

In [34]:
[(c,fz.extractOne(c,education.Country)) for c in sorted(electricity.Country) if fz.extractOne(c,education.Country)[1]<100]

[('AMERICAN SAMOA', ('SAMOA', 90, 84)),
 ('BOSNIA AND HERZEGOVINA', ('INDIA', 68, 99)),
 ('CUBA', ('CURACAO', 68, 15)),
 ('EQUATORIAL GUINEA', ('GUINEA', 90, 180)),
 ('ERITREA', ('SIERRA LEONE', 62, 7)),
 ('FALKLAND ISLANDS (ISLAS MALVINAS)', ('MARSHALL ISLANDS', 86, 0)),
 ('FRENCH POLYNESIA', ('ESTONIA', 65, 28)),
 ('GIBRALTAR', ('MALTA', 72, 44)),
 ('GUAM', ('NICARAGUA', 77, 95)),
 ('KOREA, NORTH', ('KOREA, SOUTH', 83, 89)),
 ('KOSOVO', ('SOLOMON ISLANDS', 54, 1)),
 ('LIBYA', ('AUSTRALIA', 68, 37)),
 ('MONTENEGRO', ('MONACO', 60, 194)),
 ('NEW CALEDONIA', ('ESTONIA', 69, 28)),
 ('NIUE', ('MOZAMBIQUE', 68, 34)),
 ('NORTH MACEDONIA', ('ESTONIA', 69, 28)),
 ('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA',
  ('SAO TOME AND PRINCIPE', 86, 72)),
 ('SAINT PIERRE AND MIQUELON', ('SAINT LUCIA', 86, 137)),
 ('SUDAN', ('SOUTH SUDAN', 90, 190)),
 ('SYRIA', ('SERBIA', 73, 133)),
 ('TAIWAN', ('THAILAND', 71, 147)),
 ('VIRGIN ISLANDS', ('BRITISH VIRGIN ISLANDS', 90, 171)),
 ('YEMEN', ('SWEDEN', 55, 17))]

In [35]:
[(c,fz.extractOne(c,electricity.Country)) for c in sorted(education.Country) if fz.extractOne(c,electricity.Country)[1]<100]

[('ANDORRA', ('EL SALVADOR', 65, 112)),
 ('ANGUILLA', ('ANGOLA', 71, 73)),
 ('CURACAO', ('CUBA', 68, 75)),
 ('LIECHTENSTEIN', ('BENIN', 68, 150)),
 ('MARSHALL ISLANDS', ('TURKS AND CAICOS ISLANDS', 86, 186)),
 ('MICRONESIA, FEDERATED STATES OF', ('UNITED STATES', 86, 1)),
 ('MONACO', ('MOROCCO', 62, 55)),
 ('PALAU', ('GUATEMALA', 68, 90)),
 ('SAN MARINO', ('SPAIN', 68, 10))]

In [36]:
[(c,fz.extractOne(c,energyConsumption.Country)) for c in sorted(electricity.Country) if fz.extractOne(c,energyConsumption.Country)[1]<100]

[('COOK ISLANDS', ('BRITISH VIRGIN ISLANDS', 86, 73)),
 ('FALKLAND ISLANDS (ISLAS MALVINAS)', ('CAYMAN ISLANDS', 86, 25)),
 ('FAROE ISLANDS', ('BRITISH VIRGIN ISLANDS', 86, 73)),
 ('FRENCH POLYNESIA', ('SYRIA', 68, 142)),
 ('GIBRALTAR', ('QATAR', 72, 0)),
 ('GREENLAND', ('IRELAND', 75, 36)),
 ('ICELAND', ('IRELAND', 86, 36)),
 ('MONTSERRAT', ('SIERRA LEONE', 60, 182)),
 ('NAURU', ('MAURITIUS', 60, 82)),
 ('NEW CALEDONIA', ('ESTONIA', 69, 67)),
 ('NIUE', ('UNITED ARAB EMIRATES', 68, 3)),
 ('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA',
  ('ANTIGUA AND BARBUDA', 86, 40)),
 ('SAINT PIERRE AND MIQUELON', ('SAINT LUCIA', 86, 95)),
 ('TRINIDAD AND TOBAGO', ('SAINT VINCENT AND THE GRENADINES', 86, 104)),
 ('TURKS AND CAICOS ISLANDS', ('CAYMAN ISLANDS', 86, 25)),
 ('VIRGIN ISLANDS', ('BRITISH VIRGIN ISLANDS', 90, 73))]

In [37]:
[(c,fz.extractOne(c,electricity.Country)) for c in sorted(energyConsumption.Country) if fz.extractOne(c,electricity.Country)[1]<100]

[]

In [38]:
[(c,fz.extractOne(c,reservesForeignExchange.Country)) for c in sorted(electricity.Country) if fz.extractOne(c,reservesForeignExchange.Country)[1]<100]

[('AMERICAN SAMOA', ('SAMOA', 90, 165)),
 ('BERMUDA', ('PERU', 68, 34)),
 ('BRITISH VIRGIN ISLANDS', ('CAYMAN ISLANDS', 86, 182)),
 ('COOK ISLANDS', ('SOLOMON ISLANDS', 74, 157)),
 ('FALKLAND ISLANDS (ISLAS MALVINAS)', ('SOLOMON ISLANDS', 86, 157)),
 ('FAROE ISLANDS', ('CAYMAN ISLANDS', 67, 182)),
 ('FRENCH POLYNESIA', ('SYRIA', 68, 172)),
 ('GIBRALTAR', ('QATAR', 72, 41)),
 ('GREENLAND', ('IRELAND', 75, 73)),
 ('GUAM', ('GUATEMALA', 77, 55)),
 ('KIRIBATI', ('HAITI', 68, 124)),
 ('KOREA, NORTH', ('KOREA, SOUTH', 83, 8)),
 ('NAURU', ('MAURITIUS', 60, 86)),
 ('NEW CALEDONIA', ('ESTONIA', 69, 128)),
 ('NIUE', ('UNITED ARAB EMIRATES', 68, 11)),
 ('PUERTO RICO', ('PERU', 68, 34)),
 ('SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA',
  ('BOSNIA AND HERZEGOVINA', 86, 83)),
 ('SAINT PIERRE AND MIQUELON', ('SAINT LUCIA', 86, 173)),
 ('TURKS AND CAICOS ISLANDS', ('SOLOMON ISLANDS', 86, 157)),
 ('VIRGIN ISLANDS', ('FINLAND', 66, 64))]

In [39]:
[(c,fz.extractOne(c,electricity.Country)) for c in sorted(reservesForeignExchange.Country) if fz.extractOne(c,electricity.Country)[1]<100]

[('ANGUILLA', ('ANGOLA', 71, 73)),
 ('MICRONESIA, FEDERATED STATES OF', ('UNITED STATES', 86, 1)),
 ('PALAU', ('GUATEMALA', 68, 90)),
 ('SAN MARINO', ('SPAIN', 68, 10))]

In [40]:
[(c,fz.extractOne(c,energyConsumption.Country)) for c in sorted(education.Country) if fz.extractOne(c,energyConsumption.Country)[1]<100]

[('ANDORRA', ('EL SALVADOR', 65, 124)),
 ('ANGUILLA', ('ANGOLA', 71, 150)),
 ('COOK ISLANDS', ('BRITISH VIRGIN ISLANDS', 86, 73)),
 ('CURACAO', ('CUBA', 68, 120)),
 ('FAROE ISLANDS', ('BRITISH VIRGIN ISLANDS', 86, 73)),
 ('GREENLAND', ('IRELAND', 75, 36)),
 ('ICELAND', ('IRELAND', 86, 36)),
 ('LIECHTENSTEIN', ('BENIN', 68, 164)),
 ('MARSHALL ISLANDS', ('CAYMAN ISLANDS', 67, 25)),
 ('MICRONESIA, FEDERATED STATES OF', ('UNITED STATES', 86, 9)),
 ('MONACO', ('MOROCCO', 62, 126)),
 ('MONTSERRAT', ('SIERRA LEONE', 60, 182)),
 ('NAURU', ('MAURITIUS', 60, 82)),
 ('PALAU', ('GUATEMALA', 68, 134)),
 ('SAN MARINO', ('SPAIN', 68, 47)),
 ('TRINIDAD AND TOBAGO', ('SAINT VINCENT AND THE GRENADINES', 86, 104)),
 ('TURKS AND CAICOS ISLANDS', ('CAYMAN ISLANDS', 86, 25))]

In [41]:
[(c,fz.extractOne(c,education.Country)) for c in sorted(energyConsumption.Country) if fz.extractOne(c,education.Country)[1]<100]

[('AMERICAN SAMOA', ('SAMOA', 90, 84)),
 ('BOSNIA AND HERZEGOVINA', ('INDIA', 68, 99)),
 ('CUBA', ('CURACAO', 68, 15)),
 ('EQUATORIAL GUINEA', ('GUINEA', 90, 180)),
 ('ERITREA', ('SIERRA LEONE', 62, 7)),
 ('GUAM', ('NICARAGUA', 77, 95)),
 ('KOREA, NORTH', ('KOREA, SOUTH', 83, 89)),
 ('KOSOVO', ('SOLOMON ISLANDS', 54, 1)),
 ('LIBYA', ('AUSTRALIA', 68, 37)),
 ('MONTENEGRO', ('MONACO', 60, 194)),
 ('NORTH MACEDONIA', ('ESTONIA', 69, 28)),
 ('SUDAN', ('SOUTH SUDAN', 90, 190)),
 ('SYRIA', ('SERBIA', 73, 133)),
 ('TAIWAN', ('THAILAND', 71, 147)),
 ('YEMEN', ('SWEDEN', 55, 17))]

In [42]:
[(c,fz.extractOne(c,reservesForeignExchange.Country)) for c in sorted(education.Country) if fz.extractOne(c,reservesForeignExchange.Country)[1]<100]

[('ANDORRA', ('EL SALVADOR', 65, 114)),
 ('BERMUDA', ('PERU', 68, 34)),
 ('BRITISH VIRGIN ISLANDS', ('CAYMAN ISLANDS', 86, 182)),
 ('COOK ISLANDS', ('SOLOMON ISLANDS', 74, 157)),
 ('CURACAO', ('CUBA', 68, 74)),
 ('FAROE ISLANDS', ('CAYMAN ISLANDS', 67, 182)),
 ('GREENLAND', ('IRELAND', 75, 73)),
 ('KIRIBATI', ('HAITI', 68, 124)),
 ('LIECHTENSTEIN', ('BENIN', 68, 156)),
 ('MARSHALL ISLANDS', ('CAYMAN ISLANDS', 67, 182)),
 ('MONACO', ('MOROCCO', 62, 48)),
 ('NAURU', ('MAURITIUS', 60, 86)),
 ('PUERTO RICO', ('PERU', 68, 34)),
 ('TURKS AND CAICOS ISLANDS', ('SOLOMON ISLANDS', 86, 157))]

In [43]:
[(c,fz.extractOne(c,education.Country)) for c in sorted(reservesForeignExchange.Country) if fz.extractOne(c,education.Country)[1]<100]

[('BOSNIA AND HERZEGOVINA', ('INDIA', 68, 99)),
 ('CUBA', ('CURACAO', 68, 15)),
 ('EQUATORIAL GUINEA', ('GUINEA', 90, 180)),
 ('ERITREA', ('SIERRA LEONE', 62, 7)),
 ('KOSOVO', ('SOLOMON ISLANDS', 54, 1)),
 ('LIBYA', ('AUSTRALIA', 68, 37)),
 ('MONTENEGRO', ('MONACO', 60, 194)),
 ('NORTH MACEDONIA', ('ESTONIA', 69, 28)),
 ('SUDAN', ('SOUTH SUDAN', 90, 190)),
 ('SYRIA', ('SERBIA', 73, 133)),
 ('TAIWAN', ('THAILAND', 71, 147)),
 ('YEMEN', ('SWEDEN', 55, 17))]

In [44]:
[(c,fz.extractOne(c,reservesForeignExchange.Country)) for c in sorted(energyConsumption.Country) if fz.extractOne(c,reservesForeignExchange.Country)[1]<100]

[('AMERICAN SAMOA', ('SAMOA', 90, 165)),
 ('BERMUDA', ('PERU', 68, 34)),
 ('BRITISH VIRGIN ISLANDS', ('CAYMAN ISLANDS', 86, 182)),
 ('GUAM', ('GUATEMALA', 77, 55)),
 ('KIRIBATI', ('HAITI', 68, 124)),
 ('KOREA, NORTH', ('KOREA, SOUTH', 83, 8)),
 ('PUERTO RICO', ('PERU', 68, 34))]

In [45]:
[(c,fz.extractOne(c,energyConsumption.Country)) for c in sorted(reservesForeignExchange.Country) if fz.extractOne(c,energyConsumption.Country)[1]<100]

[('ANGUILLA', ('ANGOLA', 71, 150)),
 ('ICELAND', ('IRELAND', 86, 36)),
 ('MICRONESIA, FEDERATED STATES OF', ('UNITED STATES', 86, 9)),
 ('MONTSERRAT', ('SIERRA LEONE', 60, 182)),
 ('PALAU', ('GUATEMALA', 68, 134)),
 ('SAN MARINO', ('SPAIN', 68, 47)),
 ('TRINIDAD AND TOBAGO', ('SAINT VINCENT AND THE GRENADINES', 86, 104))]

Finalmente, se puede comprobar que no existen países con nombres similares en cada DF al verlos manualmente

In [46]:
a=set(electricity.Country)^set(education.Country)
b=set(electricity.Country)^set(energyConsumption.Country)
c=set(electricity.Country)^set(reservesForeignExchange.Country)
d=set(education.Country)^set(energyConsumption.Country)
e=set(education.Country)^set(reservesForeignExchange.Country)
f=set(energyConsumption.Country)^set(reservesForeignExchange.Country)

In [47]:
a

{'AMERICAN SAMOA',
 'ANDORRA',
 'ANGUILLA',
 'BOSNIA AND HERZEGOVINA',
 'CUBA',
 'CURACAO',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'FALKLAND ISLANDS (ISLAS MALVINAS)',
 'FRENCH POLYNESIA',
 'GIBRALTAR',
 'GUAM',
 'KOREA, NORTH',
 'KOSOVO',
 'LIBYA',
 'LIECHTENSTEIN',
 'MARSHALL ISLANDS',
 'MICRONESIA, FEDERATED STATES OF',
 'MONACO',
 'MONTENEGRO',
 'NEW CALEDONIA',
 'NIUE',
 'NORTH MACEDONIA',
 'PALAU',
 'SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA',
 'SAINT PIERRE AND MIQUELON',
 'SAN MARINO',
 'SUDAN',
 'SYRIA',
 'TAIWAN',
 'VIRGIN ISLANDS',
 'YEMEN'}

In [48]:
b

{'COOK ISLANDS',
 'FALKLAND ISLANDS (ISLAS MALVINAS)',
 'FAROE ISLANDS',
 'FRENCH POLYNESIA',
 'GIBRALTAR',
 'GREENLAND',
 'ICELAND',
 'MONTSERRAT',
 'NAURU',
 'NEW CALEDONIA',
 'NIUE',
 'SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA',
 'SAINT PIERRE AND MIQUELON',
 'TRINIDAD AND TOBAGO',
 'TURKS AND CAICOS ISLANDS',
 'VIRGIN ISLANDS'}

In [49]:
c

{'AMERICAN SAMOA',
 'ANGUILLA',
 'BERMUDA',
 'BRITISH VIRGIN ISLANDS',
 'COOK ISLANDS',
 'FALKLAND ISLANDS (ISLAS MALVINAS)',
 'FAROE ISLANDS',
 'FRENCH POLYNESIA',
 'GIBRALTAR',
 'GREENLAND',
 'GUAM',
 'KIRIBATI',
 'KOREA, NORTH',
 'MICRONESIA, FEDERATED STATES OF',
 'NAURU',
 'NEW CALEDONIA',
 'NIUE',
 'PALAU',
 'PUERTO RICO',
 'SAINT HELENA, ASCENSION, AND TRISTAN DA CUNHA',
 'SAINT PIERRE AND MIQUELON',
 'SAN MARINO',
 'TURKS AND CAICOS ISLANDS',
 'VIRGIN ISLANDS'}

In [50]:
d

{'AMERICAN SAMOA',
 'ANDORRA',
 'ANGUILLA',
 'BOSNIA AND HERZEGOVINA',
 'COOK ISLANDS',
 'CUBA',
 'CURACAO',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'FAROE ISLANDS',
 'GREENLAND',
 'GUAM',
 'ICELAND',
 'KOREA, NORTH',
 'KOSOVO',
 'LIBYA',
 'LIECHTENSTEIN',
 'MARSHALL ISLANDS',
 'MICRONESIA, FEDERATED STATES OF',
 'MONACO',
 'MONTENEGRO',
 'MONTSERRAT',
 'NAURU',
 'NORTH MACEDONIA',
 'PALAU',
 'SAN MARINO',
 'SUDAN',
 'SYRIA',
 'TAIWAN',
 'TRINIDAD AND TOBAGO',
 'TURKS AND CAICOS ISLANDS',
 'YEMEN'}

In [51]:
e

{'ANDORRA',
 'BERMUDA',
 'BOSNIA AND HERZEGOVINA',
 'BRITISH VIRGIN ISLANDS',
 'COOK ISLANDS',
 'CUBA',
 'CURACAO',
 'EQUATORIAL GUINEA',
 'ERITREA',
 'FAROE ISLANDS',
 'GREENLAND',
 'KIRIBATI',
 'KOSOVO',
 'LIBYA',
 'LIECHTENSTEIN',
 'MARSHALL ISLANDS',
 'MONACO',
 'MONTENEGRO',
 'NAURU',
 'NORTH MACEDONIA',
 'PUERTO RICO',
 'SUDAN',
 'SYRIA',
 'TAIWAN',
 'TURKS AND CAICOS ISLANDS',
 'YEMEN'}

In [52]:
f

{'AMERICAN SAMOA',
 'ANGUILLA',
 'BERMUDA',
 'BRITISH VIRGIN ISLANDS',
 'GUAM',
 'ICELAND',
 'KIRIBATI',
 'KOREA, NORTH',
 'MICRONESIA, FEDERATED STATES OF',
 'MONTSERRAT',
 'PALAU',
 'PUERTO RICO',
 'SAN MARINO',
 'TRINIDAD AND TOBAGO'}

**INNER MERGE**

Finalmente, como no he encontrado países con nombres similares en cada DF, se procederá con *inner merge*

In [53]:
electricityEducation=pd.merge(electricity,education,how="inner",on=["Country","Region"])
electricityEducationEnergy=pd.merge(electricityEducation,energyConsumption,how="inner",on=["Country","Region"])
electricityEducationEnergyReserves=pd.merge(electricityEducationEnergy,reservesForeignExchange,how="inner",on=["Country","Region"])
electricityEducationEnergyReserves.drop(columns=["Year_electricity","Year_education","Year_energy","Year_reserves"],inplace=True)
final1=electricityEducationEnergyReserves.set_index(["Country","Region"])
final1.reset_index(inplace=True)
final1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 6 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     176 non-null    object
 1   Region                                      176 non-null    category
 2   Electricity_generated_kW                    176 non-null    int64
 3   Education_expenditure_percent_GDP           176 non-null    float64
 4   Energy_consumption_per_capita_BtuPerPerson  176 non-null    int64
 5   Reserves_of_foreign_exchange_dollars        176 non-null    int64
dtypes: category(1), float64(1), int64(3), object(1)
memory usage: 7.5+ KB

## Transformación

4. Report the average, min and max for the variables (reserves, energy, electricity. education) by region.
5. Create new columns for each variable , so that they are in 5 intervals. Choose the same methods for the four variables. Two decisiones here.

6. Save the final result: country, region and the eight variables.

### Task 4

In [54]:
#codigo para agrupar a las columnas con datos numericos segun Region y se obtiene valores estadisticos como min, max y mean
varsAggregated=['Electricity_generated_kW','Education_expenditure_percent_GDP','Energy_consumption_per_capita_BtuPerPerson','Reserves_of_foreign_exchange_dollars']
functionForVars=['mean','min','max']
final1Stats=final1.groupby('Region')[varsAggregated].agg(functionForVars)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_19056\3809019511.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  final1Stats=final1.groupby('Region')[varsAggregated].agg(functionForVars)

In [55]:
final1Stats.columns.to_flat_index()   #se procede a cambiar de multi-indexing a flat-index para columnas

Index([                  ('Electricity_generated_kW', 'mean'),
                          ('Electricity_generated_kW', 'min'),
                          ('Electricity_generated_kW', 'max'),
                ('Education_expenditure_percent_GDP', 'mean'),
                 ('Education_expenditure_percent_GDP', 'min'),
                 ('Education_expenditure_percent_GDP', 'max'),
       ('Energy_consumption_per_capita_BtuPerPerson', 'mean'),
        ('Energy_consumption_per_capita_BtuPerPerson', 'min'),
        ('Energy_consumption_per_capita_BtuPerPerson', 'max'),
             ('Reserves_of_foreign_exchange_dollars', 'mean'),
              ('Reserves_of_foreign_exchange_dollars', 'min'),
              ('Reserves_of_foreign_exchange_dollars', 'max')],
      dtype='object')

In [56]:
# se cambiará del multi indexing a index normal las columnas se resetearan a 1 solo index

final1Stats.columns=['_'.join(col) for col in final1Stats.columns.to_flat_index()]

In [57]:
final1Stats.reset_index(drop=False, inplace=True)

In [58]:
final1Stats       #Aqui se obtiene el resultaado pedido por el Task 4

,Region,Electricity_generated_kW_mean,Electricity_generated_kW_min,Electricity_generated_kW_max,Education_expenditure_percent_GDP_mean,Education_expenditure_percent_GDP_min,Education_expenditure_percent_GDP_max,Energy_consumption_per_capita_BtuPerPerson_mean,Energy_consumption_per_capita_BtuPerPerson_min,Energy_consumption_per_capita_BtuPerPerson_max,Reserves_of_foreign_exchange_dollars_mean,Reserves_of_foreign_exchange_dollars_min,Reserves_of_foreign_exchange_dollars_max
0,East and Southeast Asia,2.108446e+08,277000,2949000000,3.633333,1.4,6.3,1.186874e+08,6825000,643259000,3.536142e+11,781995000,3265000000000
1,North America,5.008580e+08,105586000,1235000000,5.200000,4.3,6.1,2.158707e+08,57539000,311599000,1.890850e+11,117551000000,227760000000
2,South Asia,7.211612e+07,432000,499136000,3.850000,1.9,7.0,2.350638e+07,3380000,64082000,7.907593e+10,673203000,569544000000
3,Central Asia,4.239578e+07,3944000,301926000,4.333333,2.8,6.2,1.039161e+08,16192000,261142000,7.555822e+10,3237000000,597217000000
4,Europe,4.027509e+07,779000,275658000,5.151429,3.1,7.2,1.131422e+08,27407000,234698000,6.415875e+10,921269000,822130000000
5,South America,3.550408e+07,259000,240251000,4.808333,1.3,9.8,4.641467e+07,25733000,78496000,4.748692e+10,87100000,318857000000
6,Middle East,3.381729e+07,352000,119620000,4.528571,1.7,7.8,2.406509e+08,14991000,814308000,9.432479e+10,1328000000,436769000000
7,Australia and Oceania,1.706100e+07,34000,108193000,6.314286,2.2,12.8,6.221671e+07,5655000,223158000,1.147904e+10,396530000,54455000000
8,Africa,4.619820e+06,29000,65989000,4.268000,0.3,9.6,1.412284e+07,649000,98847000,6.860587e+09,30450000,68448000000
9,Central America and the Caribbean,1.580500e+06,41000,6581000,4.555000,1.4,8.7,5.587300e+07,3486000,153952000,4.561870e+09,155971000,23834000000

### Task 5

In [59]:
#ahora se procede con el diagrama de caja para ver la distribución de los datos en cada columna.
#Esto se hace para observar si existen valores atípicos

%matplotlib inline

vars=['Electricity_generated_kW','Education_expenditure_percent_GDP', 'Energy_consumption_per_capita_BtuPerPerson', 'Reserves_of_foreign_exchange_dollars']
final1.loc[:,vars].boxplot(vert=False)

In [60]:
# ante la presencia de datos atípicos, se procede a hacer el boxplot con robustScaler, por lo que los datos cambian
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler(unit_variance=True,with_centering=False)
robScaled_data = scaler.fit_transform(final1.loc[:,vars])

pd.DataFrame(robScaled_data,columns=vars).boxplot(vert=False)

In [61]:
#robustScaler cambia los datos, por lo que los nuevos datos serían:

vars_rob_names=[v+'_rob' for v in vars] # los nuevos nombres

final1_robust=pd.DataFrame(robScaled_data,columns=vars_rob_names)
final1_copy=final1.copy()
final1_copy[vars_rob_names]=robScaled_data

In [62]:
final1_robust #los valores modificados por la tecnica Robust

,Electricity_generated_kW_rob,Education_expenditure_percent_GDP_rob,Energy_consumption_per_capita_BtuPerPerson_rob,Reserves_of_foreign_exchange_dollars_rob
0,180.730098,2.088742,1.694928,117.004970
1,75.687240,3.539258,4.147386,8.162037
2,30.589657,2.610928,0.374997,20.410254
3,22.161775,1.972701,1.928737,41.569913
4,18.503600,2.146763,3.348869,21.401947
...,...,...,...,...
171,0.002268,7.426640,0.084221,0.024663
172,0.002084,3.829361,0.346596,0.014210
173,0.001961,1.508536,0.106323,0.011555
174,0.001777,2.901031,0.132178,0.001657
175,0.001777,1.566557,0.035014,0.012772

In [63]:
# DISCRETIZACION
!pip install mapclassify

Requirement already satisfied: mapclassify in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (2.8.1)
Requirement already satisfied: networkx>=2.7 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (2.0.1)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (2.2.3)
Requirement already satisfied: scikit-learn>=1.0 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.8 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from mapclassify) (1.15.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2023.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from scikit-learn>=1.0->mapclassify) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from scikit-learn>=1.0->mapclassify) (3.6.0)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\dataespacial_31111\lib\site-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.16.0)

In [64]:
import mapclassify
import numpy as np
np.random.seed(12345)

In [65]:
# Para electricityRobust

theVar=final1_robust.Electricity_generated_kW_rob
K=5

#se prueba con cada tecnica de discretizacion enseñada
ei5 = mapclassify.EqualInterval(theVar, k=K)

msd = mapclassify.StdMean(theVar)

q5=mapclassify.Quantiles(theVar,k=K)

mb5 = mapclassify.MaximumBreaks(theVar, k=K)

ht = mapclassify.HeadTailBreaks(theVar)

fj5 = mapclassify.FisherJenks(theVar, k=K)

jc5 = mapclassify.JenksCaspall(theVar, k=K)

mp5 = mapclassify.MaxP(theVar, k=K)

C:\Users\ADMIN\anaconda3\envs\dataespacial_31111\Lib\site-packages\IPython\core\interactiveshell.py:3577: UserWarning: Numba not installed. Using slow pure python version.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [66]:
class5 = q5, ei5,msd, ht, mb5, fj5, jc5, mp5
fits = np.array([ c.adcm for c in class5])
adcms = pd.DataFrame(fits)
adcms['classifier'] = [c.name for c in class5]
adcms.columns = ['ADCM', 'Classifier']
adcms.sort_values(by='ADCM', ascending=False).plot(kind='bar', x='Classifier', y='ADCM', legend=False);

In [67]:
# se usará Fisherjenks para cada variable porque produce el ADCM menor
FJelectricity=mapclassify.FisherJenks(final1_robust.Electricity_generated_kW_rob, k=5)
FJeducation=mapclassify.FisherJenks(final1_robust.Education_expenditure_percent_GDP_rob, k=5)
FJenergy=mapclassify.FisherJenks(final1_robust.Energy_consumption_per_capita_BtuPerPerson_rob, k=5)
FJreserves=mapclassify.FisherJenks(final1_robust.Reserves_of_foreign_exchange_dollars_rob, k=5)

C:\Users\ADMIN\anaconda3\envs\dataespacial_31111\Lib\site-packages\IPython\core\interactiveshell.py:3577: UserWarning: Numba not installed. Using slow pure python version.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [68]:
FJelectricity     #se obtienen los intervalos para electricity mediante ese método

FisherJenks

    Interval       Count
------------------------
[  0.00,   2.92] |   149
(  2.92,   9.93] |    20
(  9.93,  30.59] |     5
( 30.59,  75.69] |     1
( 75.69, 180.73] |     1

In [69]:
FJeducation       #se obtienen los intervalos para education mediante ese método

FisherJenks

  Interval     Count
--------------------
[0.17, 1.57] |    26
(1.57, 2.38] |    52
(2.38, 3.25] |    55
(3.25, 4.53] |    36
(4.53, 7.43] |     7

In [70]:
FJenergy          #se obtienen los intervalos para energy mediante ese método

FisherJenks

   Interval      Count
----------------------
[ 0.01,  0.76] |    95
( 0.76,  2.13] |    58
( 2.13,  4.15] |    14
( 4.15,  6.71] |     6
( 6.71, 12.13] |     3

In [71]:
FJreserves              #se obtienen los intervalos para reserves mediante ese método

FisherJenks

    Interval       Count
------------------------
[  0.00,   2.45] |   143
(  2.45,   8.30] |    23
(  8.30,  21.40] |     7
( 21.40,  41.57] |     2
( 41.57, 117.00] |     1

In [72]:
#se procede a guardar el dataframe con las 4 variables:
final1.to_csv("final1_4variables.csv",index=False)
final1_copy.to_csv("final1_copy_8variables.csv",index=False)